body{
    background-image: url('../images/pokeball_banner.png');
    background-size: cover;

}

.container .form-control{
    border: 2px solid black;
}
#logo{
    border-radius: 50%;
    width: 60px;
}

#mini-image{
    width: 100px;
}
#logo:hover{
    transition: 2s;
    background-color: #ccc;
}
#footer{
    padding: 30px;
}

#error_body{
    background-image: url('../images/pikachu_error.png');

    min-height: 40vw;
    color: white;
    
}